*{
    font-family: 'Kanit', sans-serif;
}
.header{
    font-size: 60px;
    font-weight: 700;
}
.btn-main{
    background: #c0aa83;
    color: #fff;
    border: none;
    padding: 10px 20px;
}
.btn-main:hover{
    background: #fff;
    color: #000;
    border: 1px solid #000;
}
.color{
    color:#c0aa83;
}
.h5{
    font-size: 24px;
}
.p-50{
    padding-top: 50px;
}
.m-50{
    margin-top: 50px;
}
.accordion-button{
    color: #000 !important;
    background-color: #fff !important;
}